@{
    ViewData["Title"] = "Party Invitation";
}

<div class="text-center">
    <h1 class="display-4">You're invited to a party</h1>
    <p>Follow this <a asp-action="Invitation">link</a> to answer to the invitation</p>
    <p><a asp-controller="PartyMembers" asp-action="Index">View answers</a></p>
</div>
