@{
    ViewData["Title"] = "Thanks for your attention";
}

<div class="text-center">
    <h1 class="display-4">Thanks for your attention</h1>
    <p><a asp-controller="PartyMembers" asp-action="Index">View answers</a></p>
</div>
